@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color #222222;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
    font-weight: 300;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}

h2 {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
}

section {
    padding: 5rem 0;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.section-image{
    width: 70%;
}

.section-content h2 {
    margin: 3rem 0 1.5rem;
}

.section-content p {
    max-width: 80%;
    margin-bottom: 3rem;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.gray-text {
    color: #979797;
}

/** Header **/
nav{
    display: flex;
    justify-content: space-between;
}

nav .links a {
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 0 1rem;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.logo:before {
    content: "";
    display: inline-block;
    width: 38px;
    height: 38px;
    background: url('../images/icon.png');
    background-size: cover;
    margin-right:10px;
    vertical-align: middle;
}

/** Social Icons **/
.social-icon {
    display: inline-block;
    width: 37px;
    height: 37px;
    background: rgba(60, 187, 110, 1);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

.social-icon:first-child{
    margin-right:1rem;
}

.facebook:before {
    content:"";
    display: inline-block;
    width: 9px;
    height: 36px;
    background: url('../images/facebook.svg');
    background-repeat: no-repeat;
    margin-top: 10px;
}

.instagram:before {
    content:"";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/instagram.svg');
    background-repeat: no-repeat;
    margin-top: 10px;
}

/** INTRO **/
#intro {
    background: url('../images/intro_bg_min.png');
    background-size: cover;
    height: auto;
    padding: 2.8rem 0 0;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.intro-content-text {
    color: white;
    max-width: 50%;
    padding-top: 6%;
}

.intro-content-image img {
    max-width: 500px;
}

.intro-phones img {
    width: 400px;
}

/** WIDGETS **/
#widgets .section-image {
    text-align: right;
}

#widgets .section-image img {
    width: 218px;
    height: auto;
    box-shadow: 0px 0px 100px rgba(0,0,0, 0.1);
}

#widgets .section-image img:first-child {
    margin-right: 2rem;
}

/** SHARED **/
#shared {
    background: #FAFAFA;
}

#shared .section-image img {
    max-width: 557px;
}

/** WATCH **/
#watch {
    background: #222222;
    color: white;
    padding: 9rem 0;
}

#watch .section-image img{
    width: 345px;
    height: auto;
}

/** STORY **/
#story {
    text-align: center;
    padding-bottom: 0;
}

#story .gray-text {
    font-size: 16px;
}

#story .subtitle {
    font-size: 18px;
    font-weight: 500;
}

#story .parts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

#story .part {
    text-align: center;
    margin-top: 2rem;
}

#story .part .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
}
#story .part p {
    max-width: 80%;
    margin: auto;
    font-size: 16px;
    /*font-weight: 400;*/
}

#story .part .title:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url('../images/check.svg');
    background-size: cover;
    margin-right: 3px;
}

#story .images {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 4rem 0 0;
}

#story .images img {
    width: 100%;
    height: auto;
}

/** FEEDBACKS **/
#feedback {
    background: #F8F8F8;
    text-align: center;
}

#feedback p {
    font-size: 16px;
    margin-top: 2rem;
}

#feedback ul {
    list-style: none;
    margin-top: 2.5rem;
}

#feedback ul li {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background: white;
    border: 1px solid #eaeaea;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

#feedback ul li img {
    width: 100%;
    height: auto;
}

/** FOOTER **/
#footer {
    text-align: center;
}

#footer a {
    color: #2b2b2b;
    font-weight: 500;
    font-size: 18px;
}

#footer h2 {
   margin-bottom: 1rem;
}

#footer p {
    max-width: 450px;
    margin: auto;
}

#footer .social{
    margin-top: 2rem;
}

.copyright {
    font-size: 14px;
    padding: 2rem 0;
    text-align: center;
    font-weight: 300;
}

/** MOBILE **/
@media (max-width: 1024px){
    .half-section-wrapper{
        flex-direction: column;
    }

    .half-section{
        text-align: center;
        margin: auto;
    }


    section {
        padding: 4rem 0;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav .links {
        padding: 2rem;
    }

    #intro {
        height: auto;
        padding: 2rem;
    }

    .intro-content-text {
        max-width: 100%;
        text-align: center;
    }

    .intro-content-image img {
        max-width: 300px;
    }

    .container {
        padding: 0;
    }

    .section-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .section-content {
        padding: 0 2rem;
    }

    .section-image {
        max-width: 100%;
        width: 100%;
        text-align: center;
        padding: 3rem 0 0;
    }

    .section-content p {
        max-width: 100%;
    }

    #widgets .section-image {
        text-align: center;
    }

    #widgets .section-image img {
        max-width: 120px;
    }

    #shared .section-image img {
        max-width: 360px;
    }

    #watch {
        padding: 4rem 0;
    }

    #watch .section-image {
        padding:  0 0 3rem;
    }

    #story .parts-wrapper {
        flex-direction: column;
    }

    #feedback {
        display: none;
    }

    #footer h2 {
        line-height: normal;
    }

    #footer p {
        padding: 0 2rem;
    }
}
